<img id = "cert_img" src="data:image/jpeg;base64,{{cert_image}}" alt="Red Dot"/>
<p> <b>Contract Address:</b><div id="stud_pub_key">{{stud_pub_key}}</div></p>
<p> <b>Student public key:</b><div id="contract_address">{{contract_address}}</div></p>
<!--input type="hidden" id="stud_pub_key" name="stud_pub_key" value={{contract_address}} />
<input type="hidden" id="stud_pub_key" name="contract_address" value={{stud_pub_key}} /-->

<button id="verify" type="button" class ="button" onclick="verify()">Verify Certificate</button>
<div id="hash">
</div>
<div id="result">
</div>
<button id = "print" type="button" class ="button"  onclick="print()">Print</button>

<script type="text/javascript" src="/scripts/web3.min.js"></script> 
<script>
   
web3 = new Web3(new Web3.providers.HttpProvider("https://ropsten.infura.io/U9yDj40b2Vl0wwJgnC9V"));
document.getElementById("verify").onclick = function() {verify()};
document.getElementById("print").onclick = function() {print()}; 

function verify() 
{
   /* Get image */
   var image_src =  document.getElementById("cert_img").src;
   var image_strt_idx = image_src.indexOf(",");
   var img = image_src.substring(image_strt_idx+1);
   console.log("Image: " +img);
   
   var base64 = getBase64Image(document.getElementById("cert_img"));
   var stud_pub_key_val = document.getElementById("stud_pub_key").innerHTML;
   var contract_address_val = document.getElementById("contract_address").innerHTML;

   //alert(test);
   console.log("student_pub_key: "+stud_pub_key_val);
   console.log("contract_address: "+contract_address_val);
   var hash = web3.utils.sha3(img);
   var abi=[
     {
		"constant": false,
		"inputs": [
			{
				"name": "_address", 
				"type": "address"
			},
			{
				"name": "_certHash",
				"type": "string"
			}
		],
		"name": "issueCertificate",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "student",
				"type": "address"
			}
		],
		"name": "getCerificate",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_address",
				"type": "address"
			},
			{
				"name": "_certHash",
				"type": "string"
			}
		],
		"name": "verifyCertificate",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}];
    console.log(hash);
   document.getElementById("hash").innerHTML = "Hash :"+hash;
   const myContract = new web3.eth.Contract(abi,contract_address_val);
myContract.methods.verifyCertificate(stud_pub_key_val, hash).call({from:'0x794BE4d9eAA1b865Ad8223E6f2AE928F06b60213'}, function(error, result)
{
       console.log("check 1");
        if(!error)
        {
        	console.log(result);
            if(result)
            {
            	document.getElementById("result").innerHTML = "Result : Pass";
            }
            else
			{
				document.getElementById("result").innerHTML = "Result : Fail";
			}
		} 
		else{
			console.log(error);
		}
});
}
    
function getBase64Image(img)
{
  var canvas = document.createElement("canvas");
  canvas.width = img.width;
  canvas.height = img.height;
  var ctx = canvas.getContext("2d");
  ctx.drawImage(img, 0, 0);
  var dataURL = canvas.toDataURL("image/png");
  return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
}
function print() 
{
    
}
</script>